body {
  min-height: calc(100vh -25px);
  margin-bottom: 0;
}

p,
li,
h5,
a {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
}

.button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
  background: var(--onyx);
  color: var(--cultured);
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  align-self: center;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
}
