:root {
  /* Primary colors 60% */
  --onyx: #393e41;
  --timberwolf: #d3d0cb;
  --cultured: #f6f5f4;
  /* Secondary color 30% */
  --ming: #587b7f;
  /* Pop/CTA colors 10% */
  --light-sea-green: #06b1a6;
  --maize-crayola: #e3c34f;
  /* border */
  --border: #9da5aa;
}

/* Heading */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ming);
  font-family: "Permanent Marker", "Nunito", sans-serif;
}

.heading {
  font-weight: 800;
}

/*  Navbar */
.navbar {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--cultured);
  border: 2.5px solid var(--border);
  font-family: "Nunito", sans-serif;
}

.navbar-ul {
  display: flex;
  flex-flow: column wrap;
  padding-left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav-link,
.nav-link a {
  text-decoration: none;
  font-weight: 700;
  list-style: none;
  padding: 5px 10px;
  color: var(--onyx);
  border-bottom: 5px solid transparent;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 5px solid var(--maize-crayola);
}

.login.nav-link {
  color: var(--light-sea-green);
}

/* Articles */
main {
  display: flex;
  flex-flow: column wrap;
  background: var(--timberwolf);
  padding: 0.5rem 0;
  border: 2.5px solid var(--border);
  border-top: none;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 20px 0 var(--onyx);
  margin-bottom: 2rem;
}

.article-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--cultured);
  margin: 0.5rem 0.5rem;
}

.article-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.article-heading {
  align-self: center;
  width: 60%;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 0.5rem;
}

.poster-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0.5rem;
}

h5.poster-username {
  margin: 0;
  line-height: 1.5;
}

h5.date-posted {
  margin: 0;
  line-height: 1.5;
}

.article-sample {
  margin: 0 1rem 1rem;
  font-weight: 400;
}

a:visited,
a {
  color: var(--onyx);
  text-decoration: none;
}

/* Footer */
.navbar-follow {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.follow-text {
  width: 100%;
  text-decoration: none;
  list-style: none;
  text-align: center;
  padding: 0 10px;
}

.follow-icon {
  max-width: 40px;
  height: auto;
  padding: 0.5px 0.5px;
  background-color: var(--timberwolf);
  border-radius: 50%;
}

/* Buttons - Sign Up / Sign In / Cancel */
.button-container {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

#login.button {
  background: var(--light-sea-green);
}

#sign-up.button {
  background: var(--maize-crayola);
  color: var(--onyx);
}
.cancel.button {
  color: var(--cultured);
}

.button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
  text-decoration: none;
  background: var(--onyx);
  color: var(--cultured);
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Sign-up / Login */
.username-container {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.password-container {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}
label {
  line-height: 1.5;
  /* margin: 0.5rem; */
}

input {
  line-height: 1.5;
  margin: 0.5rem;
  color: var(--onyx);
}

/* Comment Section for Blog Posts */
.comment-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0.5rem 1rem;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

/* Add comment section */
.add-comment-container {
  width: 100%;
}
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background-color: var(--cultured);
  color: var(--onyx);
  height: 4.5rem;
  width: 99%;
  line-height: 1.5rem;
  border: none;
  margin: 0.5rem 0;
}
#comment-btn.button {
  margin: 0;
}
#post.button {
  color: var(--cultured);
  background-color: var(--light-sea-green);
}

/* Posted Comments */

.posted-comments-container {
  background-color: var(--timberwolf);
  margin: 0.5rem 0;
  width: 100%;
}

.comment-header {
  color: var(--onyx);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 0;
}

.posted-comment {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--cultured);
  margin: 0.5rem 0;
}

.poster-username {
  margin: 0.5rem 0.5rem;
  line-height: 1.5;
}

.date-posted {
  margin: 0.5rem 0.5rem;
  line-height: 1.5;
}

.comment {
  margin: 0 0.5rem 0.5rem;
  line-height: 1.5;
  width: 100%;
}

/* User dashboard */

/* options menu */
.user-options-container {
  display: flex;
  background: var(--onyx);
  border: 2.5px solid var(--border);
  border-top: none;
  font-family: "Nunito", sans-serif;
  justify-content: space-around;
}

#user-opt-header.article-heading {
  color: var(--cultured);
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: none;
  margin-left: 0.5rem;
  flex-grow: 2;
}
#create-post.button {
  flex-shrink: 2;
  white-space: nowrap;
}

#create-post.button {
  background-color: var(--maize-crayola);
  align-self: center;
}
#update.button {
  background-color: var(--light-sea-green);
  align-self: center;
}

/* new post */

.new-post.article-container {
  margin: 1rem 0.5rem;
  align-items: stretch;
}

input#post-title,
input#edit-title {
  margin: 1rem 0.5rem 0;
  width: 80%;
  background-color: rgb(255, 255, 255);
  line-height: 2;
  font-size: 1.25rem;
  padding: 0 0.5rem;
  border: none;
}

textarea#new-post,
textarea#edit-post {
  margin: 1rem 0.5rem;
  background: rgb(255, 255, 255);
  height: 15rem;
  width: 80%;
  font-size: 1.25rem;
  padding: 0.5rem 0.5rem;
}
/* edit/delete a post */
#delete.button {
  background-color: var(--maize-crayola);
  color: var(--onyx);
  align-self: center;
}
