:root {
  /* Primary colors 60% */
  --onyx: #393e41;
  --timberwolf: #d3d0cb;
  --cultured: #f6f5f4;
  /* Secondary color 30% */
  --ming: #587b7f;
  /* Pop/CTA colors 10% */
  --light-sea-green: #06b1a6;
  --maize-crayola: #e3c34f;
  /* Border */
  --cadet-grey: #9da5aa;
}

main {
  display: flex;
  flex-flow: column wrap;
  background: var(--timberwolf);
  padding: 0.5rem 0;
  border: 2.5px solid var(--cadet-grey);
  border-top: none;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 20px 0 var(--onyx);
  margin-bottom: 1.5rem;
  overflow-y: auto;
}

/* WEBSITE HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ming);
  font-family: "Permanent Marker", "Nunito", sans-serif;
}

.heading {
  font-weight: 800;
}

#header-sign-up-btn {
  display: none;
  background-color: var(--maize-crayola);
}

/*  NAVBAR */
.navbar {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--cultured);
  border: 2.5px solid var(--cadet-grey);
  font-family: "Nunito", sans-serif;
}

.navbar-ul {
  display: flex;
  flex-flow: column wrap;
  padding-left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar-ul.follow-section {
  display: none;
}

.nav-link,
.nav-link a {
  font-weight: 700;
  padding: 5px 10px 0;
  color: var(--onyx);
  border-bottom: 5px solid transparent;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 5px solid var(--maize-crayola);
}

.login.nav-link {
  color: var(--light-sea-green);
}

/* USER DASHBOARD */
/* options menu */
.user-options-container {
  display: flex;
  background: var(--onyx);
  border: 2.5px solid var(--cadet-grey);
  border-top: none;
  font-family: "Nunito", sans-serif;
  justify-content: space-around;
}

#user-opt-header.article-heading {
  color: var(--cultured);
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: none;
  margin-left: 0.5rem;
  flex-grow: 2;
}

.new-post.article-container {
  margin: 1rem 0.5rem;
  align-items: flex-start;
  justify-content: center;
  min-height: 95%;
}

/* POSTS */
.article-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: var(--cultured);
  margin: 0.5rem 0.5rem;
}

.article-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.article-heading {
  align-self: center;
  width: 60%;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 0.5rem;
}

.poster-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0.5rem;
}

.poster-info h5 {
  margin: 0;
  font-weight: bold;
}

.article-sample {
  margin: 0 1rem 1rem;
  font-weight: 400;
}

a:visited,
a {
  color: var(--onyx);
}

/*  COMMENTS */
.comment-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0.5rem 1rem;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
/* add a comment */
.add-comment-container {
  width: 100%;
}
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background-color: var(--cultured);
  color: var(--onyx);
  height: 4.5rem;
  width: 99%;
  line-height: 1.5rem;
  border: none;
  margin: 0.5rem 0;
}
/* posted comments */
.posted-comments-container {
  background-color: var(--timberwolf);
  margin: 0.5rem 0;
  width: 100%;
}

.comment-header {
  color: var(--onyx);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 0;
}

.posted-comment {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--cultured);
  margin: 0.5rem 0;
}

.poster-username {
  margin: 0.5rem 0.5rem;
  line-height: 1.5;
}

.date-posted {
  margin: 0.5rem 0.5rem;
  line-height: 1.5;
}

.comment {
  margin: 0 0.5rem 0.5rem;
  line-height: 1.5;
  width: 100%;
}

/* BUTTONS */
/* sign up / login / cancel */
.button-container {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

#login.button {
  background: var(--light-sea-green);
}

#sign-up.button {
  background: var(--maize-crayola);
  color: var(--onyx);
}

.cancel.button {
  color: var(--cultured);
}
/* comment button */
#comment-btn.button {
  margin: 0;
}

#post.button {
  color: var(--cultured);
  background-color: var(--light-sea-green);
}
/* create /update / delete posts buttons (from User Dashboard) */
#create-post.button {
  flex-shrink: 2;
  background-color: var(--maize-crayola);
  color: var(--onyx);
}

#update.button {
  background-color: var(--maize-crayola);
  color: var(--onyx);
}

#delete.button {
  background-color: var(--timberwolf);
  color: var(--onyx);
}

/* INPUTS */
/* sign-up / login */
.username-container {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.password-container {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

label {
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

input {
  line-height: 1.75;
  margin: 0.5rem;
  color: var(--onyx);
  border: none;
  background-color: var(--cultured);
}
/* create / update post (from User Dashboard) */
input#post-title,
input#edit-title {
  margin: 1rem 0.5rem 0;
  width: 80%;
  background-color: rgb(255, 255, 255);
  line-height: 2;
  font-size: 1.25rem;
  padding: 0 0.5rem;
  border: none;
}

textarea#new-post,
textarea#edit-post {
  margin: 1rem 0.5rem;
  background: rgb(255, 255, 255);
  height: 15rem;
  min-width: 80%;
  max-width: 80%;
  font-size: 1.25rem;
  padding: 0.5rem 0.5rem;
}

/* FOOTER */
.navbar-follow {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.navbar-follow .nav-link,
.navbar-follow .nav-link a {
  border: none;
  padding-top: 0;
}

.follow-text {
  width: 100%;
  text-align: center;
  padding: 0 10px;
  line-height: 1;
}

.follow-icon {
  max-width: 40px;
  height: auto;
  padding: 0.5px 0.5px;
  border-radius: 50%;
}

/* MEDIA QUERIES */
@media screen and (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
  }
  main {
    height: 84%;
    justify-content: flex-start;
  }

  /* HEADER */
  header {
    width: 25vw;
    height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .heading {
    text-align: center;
    font-size: 3em;
  }

  #header-sign-up-btn {
    display: flex;
    margin-top: 35rem;
    font-size: 1.25rem;
  }

  /* NAVBAR & MAIN */
  .nav-main-footer {
    width: 73vw;
    height: calc(100vh - 8px);
  }

  /* navbar */
  .navbar {
    flex-flow: row nowrap;
    height: fit-content;
    flex-grow: 3;
  }

  .navbar-ul {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  /* navbar follow section */
  .navbar-ul.follow-section {
    display: flex;
    justify-content: flex-end;
  }

  .nav-follow-text {
    text-align: center;
    padding: 0 10px;
  }

  .nav-follow-icon {
    max-width: 25px;
    height: auto;
    padding: 0 10px;
    border-radius: 50%;
  }

  /* USER DASHBOARD */
  /* options menu */
  #user-opt-header.article-heading {
    margin: 0;
  }

  #create-post.button {
    padding: 0.25rem 1rem;
  }
  /* post inputs - new post / edit post */
  input#post-title,
  input#edit-title {
    width: 90%;
  }

  textarea#new-post,
  textarea#edit-post {
    min-height: 45rem;
    min-width: 90%;
    max-width: 90%;
    resize: none;
  }

  /* FOOTER */
  .follow-icon {
    max-width: 30px;
  }
}

@media screen and (min-width: 970px) {
  /* Resizing the Page Heading and signup button */
  .heading {
    font-size: 4em;
    margin-left: 1em;
    margin-right: 1em;
  }

  #header-sign-up-btn {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1550px) {
  /* Resizing the Page Heading and signup button  */
  header {
    width: 20vw;
  }
}
