<main>
  <div class="main-container">
    {{#post}}

      {{> post reqAuth=true loggedIn=../loggedIn }}

      {{> comments loggedIn=../loggedIn}}
    
    {{/post}}
  </div>


  <script src="/js/commentManipulation.js"></script>
</main>

