<aside>
  {{#user}}
    <div class="user-options-container">
      <h3 class="article-heading" id="user-opt-header">Welcome
        {{this.username}}</h3>
      <a href="/dashboard/new-post" class="button" id="create-post">New Post</a>
    </div>
  {{/user}}
</aside>

<main>
  {{#user}}
    {{#each Posts}}
      <a href="posts/{{id}}/edit">
          {{> post }}
      </a>
    {{/each}}
  {{/user}}
</main>