<main>

  <div class="article-container new-post">
    <label for="post-title"></label>
    <input
      type="text"
      id="post-title"
      name="post-title"
      required
      minlength="1"
      placeholder="Already posted Title to be edited"
    />

    <label for="new-post"></label>
    <textarea
      id="new-post"
      name="new-post"
      rows="5"
      cols="20"
      spellcheck="true"
      minlength="1"
      placeholder="Aldready posted and saved content to be edited"
    ></textarea>
  </div>

</main>
<aside>
  <div class="user-options-container">
    <a href="" class="button" id="update">Update & Post</a>
    <a href="" class="button" id="delete">Delete</a>
  </div>
</aside>