<aside>
    <div class="user-options-container">
      <button type="submit" value="update" class="button" id="update">Update &
        Post</button>
      <a href="" class="button" id="delete">Delete</a>
    </div>
</aside>

<main style="height:79%;">
  <div class="main-container" style="height:100%;">
    
    {{#post}}
      <div class="article-container new-post">
        <input type="hidden" id="post-id" value="{{this.id}}" />
        <label for="title"></label>
        <input
          type="text"
          id="edit-title"
          name="edit-title"
          required
          minlength="1"
          value="{{this.title}}"
        />

        <label for="edit-post"></label>
        <textarea
          id="edit-post"
          name="edit-post"
          required
          rows="20"
          cols="20"
          spellcheck="true"
          minlength="1"
        >{{this.content}}</textarea>
      </div>
      {{> comments loggedIn=../loggedIn}}
    {{/post}}

  </div>
</main>


<script src="/js/postManipulation.js"></script>