<!DOCTYPE html>
<html>
  <head>
    <title>Media Query for Screen</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Tech Blog</h1>
      <nav>
        <ul>
          <li>home</li>
          <li>dashboard</li>
          <li>login</li>
        </ul>
      </nav>
    </header>

    <main>
      <div>
        <h3>Article 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet molestie sodales. Curabitur blandit, lacus quis suscipit hendrerit, nunc elit convallis augue, ac blandit nisi velit sed tellus. Quisque in orci interdum, scelerisque leo a, fringilla libero. Maecenas iaculis elementum mi volutpat fringilla. Cras sed justo interdum, tristique ex quis, efficitur ligula. Pellentesque rhoncus velit sit amet eros efficitur maximus. Mauris pellentesque, est id efficitur scelerisque, purus orci luctus purus, sed faucibus turpis erat eget massa. Pellentesque feugiat suscipit mauris, vitae rutrum tellus fermentum quis. Donec lobortis ultrices arcu nec tempus.</p>
      </div>
      <br>
      <div>
        <h3>Article 2</h3>
        <p>Nunc imperdiet lacinia lorem id rutrum. Vivamus vehicula, neque et facilisis malesuada, orci neque hendrerit dolor, eu luctus nibh lorem ut enim. Nulla quis tempus massa, id condimentum tortor. Sed facilisis sapien in erat semper, sit amet tempus enim gravida. Vestibulum nec aliquam lectus, vitae dignissim augue. Curabitur lectus risus, vulputate imperdiet scelerisque ac, luctus nec purus. Fusce non eros quis sapien commodo vulputate non nec velit. Sed tristique ac elit et porta. Nunc in finibus augue.</p>
      </div>
      <br>
      <div>
        <h3>Article 3</h3>
        <p>In blandit in erat finibus tristique. Sed nec sapien quis elit malesuada auctor. Aliquam magna tellus, eleifend non molestie at, imperdiet a velit. Pellentesque elementum lorem et augue aliquet, quis volutpat tellus rhoncus. Duis viverra, ex rutrum laoreet rutrum, justo risus feugiat tortor, quis dignissim neque nulla ac tortor. In tempor ac mauris in ullamcorper. Duis ac turpis venenatis felis feugiat sagittis.

          Etiam ut nisi neque. Vestibulum velit augue, egestas id quam ac, faucibus molestie metus. In fringilla arcu a rhoncus ullamcorper. Quisque eros risus, ultricies eu semper at, porttitor quis turpis. Morbi vitae sagittis eros. Lorem ipsum dolor sit amet</p>
      </div>
    </main>

  </body>
</html>  