<main>
  <div class="main-container">
    {{#postData}}

      <a href="/posts/{{id}}">
        {{> post}}
      </a>
    {{/postData}}
  </div>
  
  {{!-- <script src="/js/main.js"></script> --}}
</main>