<main>

  <div class="article-container new-post">
    <label for="post-title"></label>
    <input
      type="text"
      id="post-title"
      name="post-title"
      required
      minlength="1"
      placeholder="Title"
    />

    <label for="new-post"></label>
    <textarea
      id="new-post"
      name="new-post"
      rows="5"
      cols="20"
      spellcheck="true"
      minlength="1"
      placeholder="Write your post here"
    ></textarea>
  </div>

</main>

<aside>
  <div class="user-options-container">
    <a href="" class="button" id="new-post">Save & Post</a>
  </div>
</aside>