<aside>
  <div class="create-post-submit">
    <div class="user-options-container">
      <button
        type="submit"
        value="save-&-post"
        class="button"
        id="create-post"
      >Save & Post</button>
    </div>
  </div>
</aside>

<main style="height:79%;">
  <div class="main-container" style="height:100%;">

    <form class="article-container new-post">
      <label for="post-title"></label>
      <input
        type="text"
        id="post-title"
        name="post-title"
        required
        minlength="1"
        placeholder="Title"
      />

      <label for="new-post"></label>
      <textarea
        id="new-post"
        name="new-post"
        required
        rows="5"
        cols="20"
        spellcheck="true"
        minlength="1"
        placeholder="Write your post here"
        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
      ></textarea>
    </form>

  </div>
</main>

<script src="/js/postManipulation.js"></script>