<footer>
  <ul class="navbar-follow">
    <li class="follow-text">follow</li>
    <li class="nav-link">
      <a href="https://github.com/ClareRadtke" target="_blank">
        <img
          src="/images/github.png"
          class="follow-icon"
          alt="GitHub icon, made by Pixel perfect from www.flaticon.com"
        />
      </a>
    </li>
    <li class="nav-link">
      <a href="https://www.linkedin.com/in/clareradtke/" target="_blank">
        <img
          src="/images/linkedin.png"
          class="follow-icon"
          alt="LinkedIn icon, made by Freepik from www.flaticon.com"
        />
      </a>
    </li>
  </ul>
</footer>