<!-- TODO: In larger screen size have the follow in the nav to the right -->
<footer>
  <ul class="navbar-follow">
    <li class="follow-text">follow</li>
    <li class="nav-link">
      <a href="https://github.com/ClareRadtke" target="_blank">
        <img src="/images/github.png" class="follow-icon" />
      </a>
    </li>
    <li class="nav-link">
      <a href="https://www.linkedin.com/in/clareradtke/" target="_blank">
        <img src="/images/linkedin.png" class="follow-icon" />
      </a>
    </li>
  </ul>
</footer>