<nav class="navbar">
  <ul class="navbar-ul">
    <a href="/" class="nav-link">home</a>
    <a href="/dashboard" class="nav-link">dashboard</a>
    <!-- <li class="nav-link">about</li> -->
    {{#if loggedIn}}
      <a href="/logout" class="nav-link login" id="logout">logout</a>
    {{else}}
      <a href="/login" class="nav-link login">login</a>
    {{/if}}

  </ul>

  <!-- TODO: In larger screen size have the follow in the nav to the right -->
  <!-- <ul class="navbar-follow">
    <li class="follow-text">follow</li>
    <li class="nav-link">
      <a href="https://github.com/ClareRadtke" target="_blank">
        <img src="images/github.png" class="follow-icon">
      </a>
    </li>
    <li class="nav-link">
      <a href="https://www.linkedin.com/in/clareradtke/" target="_blank">
        <img src="images/linkedin.png" class="follow-icon">
      </a>
    </li>
  </ul> -->
</nav>