<nav class="navbar">
  <ul class="navbar-ul">
    <a href="/" class="nav-link">home</a>
    <a href="/dashboard" class="nav-link">dashboard</a>
    <!-- <li class="nav-link">about</li> -->
    {{#if loggedIn}}
      <a href="/logout" class="nav-link login" id="logout">logout</a>
    {{else}}
      <a href="/login" class="nav-link login">login</a>
    {{/if}}

  </ul>

  <!-- In larger screen sizes have the follow in the nav to the right -->
  <ul class="navbar-ul follow-section">
    <li class="nav-follow-text">follow</li>
    <a href="https://github.com/ClareRadtke" target="_blank">
      <img src="/images/github.png" class="nav-follow-icon" />
    </a>
    <a href="https://www.linkedin.com/in/clareradtke/" target="_blank">
      <img src="/images/linkedin.png" class="nav-follow-icon" />
    </a>

  </ul>
</nav>