<!DOCTYPE html>
<head>
  <head>
    <title>Tech Blog</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../public/css/styles.css" />
  </head>

  <body>
    <header>
      <h1 class="heading">Tech Blog</h1>
    </header>

    <nav class="navbar">
      <ul class="navbar-ul">
        <li class="nav-link">home</li>
        <li class="nav-link">dashboard</li>
        <!-- <li class="nav-link">about</li> -->
        <li class="nav-link login">login</li>
      </ul>

      <!-- TODO: In larger screen size have the follow in the nav to the right -->
      <!-- <ul class="navbar-follow">
        <li class="follow-text">follow</li>
        <li class="nav-link">
          <a href="https://github.com/ClareRadtke" target="_blank">
            <img src="../../public/images/github.png" class="follow-icon">
          </a>
        </li>
        <li class="nav-link">
          <a href="https://www.linkedin.com/in/clareradtke/" target="_blank">
            <img src="../../public/images/linkedin.png" class="follow-icon">
          </a>
        </li>
      </ul> -->
    </nav>

    <main>
        
      <div class="article-container">

        <div class="article-header">
          <h3 class="article-heading">Article 1</h3>
          <div class="poster-info">
            <h5 class="poster-username">username of poster</h5>
            <h5 class="date-posted">date created</h5>
          </div>
        </div>

        <p class="article-sample">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet molestie sodales. Curabitur blandit, lacus quis suscipit hendrerit, nunc elit convallis augue, ac blandit nisi velit sed tellus. Quisque in orci interdum, scelerisque leo a, fringilla libero. Maecenas iaculis elementum mi volutpat fringilla. Cras sed justo interdum, tristique ex quis, efficitur ligula. Pellentesque rhoncus velit sit amet eros efficitur maximus. Mauris pellentesque, est id efficitur scelerisque, purus orci luctus purus, sed faucibus turpis erat eget massa. Pellentesque feugiat suscipit mauris, vitae rutrum tellus fermentum quis. Donec lobortis ultrices arcu nec tempus.</p>
      </div>

      <div class="comment-container">

        <div class="add-comment-container">
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment" rows="5" cols="33" placeholder="Let the author know what you think!"></textarea>
          <button type="button" class="button" value="post-comment" id="post">Post</button>
        </div>

        <div class="posted-comments-container">
          <div class="posted-comment">
            <p class="poster-username">username of poster</p>
            <p class="date-posted">date created</p>
            <p class="comment">example of a comment posted about this blog post...</p>
          </div>
          <div class="posted-comment">
            <p class="poster-username">username of poster</p>
            <p class="date-posted">date created</p>
            <p class="comment">example of a comment posted about this blog post...</p>
          </div>
        </div>

      </div>

      
     
    </main>

    <footer>
      <ul class="navbar-follow">
        <li class="follow-text">follow</li>
        <li class="nav-link">
          <a href="https://github.com/ClareRadtke" target="_blank">
            <img src="../../public/images/github.png" class="follow-icon">
          </a>
        </li>
        <li class="nav-link">
          <a href="https://www.linkedin.com/in/clareradtke/" target="_blank">
            <img src="../../public/images/linkedin.png" class="follow-icon">
          </a>
        </li>
      </ul>
    </footer>

  </body>
</html>  